@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin     : 0;
  font-family: "Roboto", sans-serif;
}

.fixed {
  background-color: brown;
  position        : fixed;
  top             : 50%; /* origin x */
  left            : 50%; /* origin y */
  width           : 500px; /* size x */
  height          : 300px; /* size y */
  margin-left     : -250px; /* shift x */
  margin-top      : -150px; /* shift y */
  border-radius   : 10px;
}

/* .fixed :hover {
  background-color: green;
  color : white;
} */

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noselect {
  -webkit-touch-callout: none; /* ios safari */
    -webkit-user-select: none; /* safari */
     -khtml-user-select: none; /* konqueror HTML */
       -moz-user-select: none; /* firefox */
        -ms-user-select: none; /* internet explorer/edge */
            user-select: none; /* chrome and opera */
}

p {
  font-size: 100px;
  font-weight: 700;
}