@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --framew   : 320px;
  --frameh   : 150px;
  --rectw    : 250px;
  --recth    : 40px;
  --infow    : 250px;
  --infoh    : 60px;
  --sizetiny : 2px;
  --sizesmall: 5px;
  --sizestd  : 20px;
  --sizebig  : 40px;
  --sizehuge : 60px;
  --ratio1h  : -0.4;
  --ratio2h  : -1.2;
  --shifth   : calc(0.5 * calc(var(--framew) - var(--rectw)));
  --shiftv   : calc(var(--ratio1h) * calc(var(--recth) + var(--sizestd)));
  --decalh   : calc(0.5 * calc(var(--framew) - var(--infow)));
  --decalv   : calc(var(--ratio2h) * calc(var(--infoh) + var(--sizestd)));
}

* {
  box-sizing: border-box;
}

body {
  margin     : 0;
  width      : 100vw;
  height     : 100vh;
  font-family: "Roboto", sans-serif;
}

.fixed {
  position     : absolute;
  top          : 50%; /* origin x */
  left         : 50%; /* origin y */
  width        : var(--framew); /* size x */
  height       : var(--frameh); /* size y */
  margin-left  : calc(-0.5 * var(--framew)); /* shift x */
  margin-top   : calc(-0.5 * var(--frameh)); /* shift y */
  border-radius: var(--sizebig);
}

.rect {
  margin     : var(--sizetiny);
  width      : var(--rectw);
  height     : var(--recth);
  font-size  : var(--sizestd);
  font-weight: 400;
}

.info {
  margin     : var(--sizetiny);
  width      : var(--infow);
  height     : var(--infoh);
  font-size  : var(--sizestd);
  font-weight: 400;
}

.shift1 {
  position     : absolute;
  top          : var(--shiftv);
  left         : var(--shifth);
  border-radius: var(--sizestd) var(--sizestd) 0 0;
}

.shift2 {
  position     : absolute;
  bottom       : var(--shiftv);
  left         : var(--shifth);
  border-radius: 0 0 var(--sizestd) var(--sizestd); /* round corners */
}

.shift3 {
  position     : absolute;
  bottom       : var(--decalv);
  left         : var(--decalh);
}

.centered {
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.left {
  display        : flex;
  flex-direction : column;
  align-items    : flex-start;
  justify-content: center;
}

.noselect {
  user-select          : none; /* chrome and opera */
  -moz-user-select     : none; /* firefox */
  -webkit-touch-callout: none; /* ios safari */
  -webkit-user-select  : none; /* safari */
  -khtml-user-select   : none; /* konqueror HTML */
  -ms-user-select      : none; /* internet explorer/edge */
}

p {
  font-size  : var(--sizehuge);
  font-weight: 700;
}